.section__portfolio {
  margin-top: 139px;
}
.portfolio {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  &__title {
  }

  &__buttons {
    display: flex;
    column-gap: 40px;
  }

  &__btn {
    text-align: center;
    button {
      font-family: "openSans-semiBold", sans-serif;
      background: #ffffff;
      font-weight: 600;
      font-size: 12px;
      line-height: 200%;
      letter-spacing: 2px;
      color: #333333;
      position: relative;
      cursor: pointer;
    }
  }
  .portfolio__btn.-active {
    button {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fcbb08;
        bottom: -7px;
        left: 0;
      }
    }
  }

  &__container-gall {
    max-width: 1440px;
    margin: 0 auto;
  }
  &__gallery {
    display: flex;
    column-gap: 22px;
    margin-bottom: 72px;
    min-height: 912px;
  }

  &__gallery-column {
    flex: 0 1 343px;
    display: flex;
    flex-direction: column;
    row-gap: 23px;

    &-1 {
    }
    &-2 {
    }
    &-3 {
    }
    &-4 {
    }
  }

  &__item {
    transition: 0.3s all ease;
    background: #ededed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover {
      // background: linear-gradient(0deg, rgba(36, 33, 33, 0.8), rgba(36, 33, 33, 0.8)), #ededed;
      background: rgb(101, 101, 101);
      border: 12px solid rgba(255, 255, 255, 0.147164);
      .portfolio__item-img {
        opacity: 0.2;
      }
    }
    &--1 {
      height: 54.167%;
    }
    &--2 {
      height: 43.311%;
    }
    &--3 {
      height: 31.579%;
    }
    &--4 {
      height: 31.579%;
    }
    &--5 {
      height: 32.018%;
    }
    &--6 {
      height: 40.241%;
    }
    &--7 {
      height: 57.346%;
    }
    &--8 {
      height: 34.868%;
    }
    &--9 {
      height: 62.719%;
    }
  }

  &__item-title {
    font-family: "openSans-semiBold", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
  }

  &__item-description {
    font-family: "openSans-light", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
  }

  &__item-img {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease;
    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }
  }

  &__btn-all {
    width: 100%;
    text-align: center;
    background: #f6f8fa;
    button {
      font-family: "montserrat-bold", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1.2px;
      color: #242121;
      background: none;
      margin: 42px 0 42px 0;
      cursor: pointer;
    }
  }
}
@media (max-width: 1200px) {
  .portfolio {
    &__gallery {
      min-height: 712px;
    }
    &__btn-all {
      button {
        margin: 32px 0 32px 0;
      }
    }
  }
}
@media (max-width: 1000px) {
  .portfolio {
    &__head {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__title {
      text-align: center;
      flex: 0 1 80%;
      margin-bottom: 40px;
    }

    &__buttons {
      column-gap: 20px;
    }
    &__gallery {
      min-height: 512px;
      column-gap: 15px;
    }
    &__gallery-column {
      row-gap: 15px;
    }
    &__btn-all {
      button {
        margin: 22px 0 22px 0;
      }
    }
  }
}
@media (max-width: 779.999px) {
  .portfolio {
    &__gallery {
      min-height: 412px;
      // flex-wrap: wrap;
      // justify-content: center;
      // min-height: 1624px;
      column-gap: 10px;
    }
    &__gallery-column {
      row-gap: 10px;
    }
  }
}
@media (max-width: 600px) {
  .portfolio {
    &__buttons {
      flex-wrap: wrap;
      flex: 0 1 100%;
      justify-content: space-between;
      column-gap: 0;
      row-gap: 15px;
    }
    &__gallery {
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 5px;
      min-height: 1224px;
    }
    &__gallery-column {
      flex: 0 1 49%;
    }
    &__btn-all {
      button {
        margin: 12px 0 12px 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .section__portfolio {
    margin-top: 60px;
  }
  .portfolio {
    &__buttons {
      flex-wrap: wrap;
      flex: 0 1 100%;
      flex-direction: column;
      column-gap: 20px;
      row-gap: 20px;
    }
    &__btn {
      display: inline-block;
    }
    &__gallery {
      min-height: 1124px;
    }
    &__gallery-column {
      flex: 0 1 48.5%;
    }
  }
}
@media (max-width: 400px) {
  .portfolio {
    &__gallery {
      row-gap: 0px;
      column-gap: 0px;
      min-height: 2500px;
      justify-content: center;
    }
    &__gallery-column {
      row-gap: 0px;
      column-gap: 0px;
      flex: 0 1 243px;
    }
    &__item {
      height: 50%;
      margin-bottom: 10px;
    }
  }
}
